{
  "bot": {
    "name": "Hyppolit"
  },
  "plugins": [
    {
      "name": "hipchat",
      "configuration": {
        "hostname": "xxxxx.hipchat.com",
        "jid": "xxxxxxx",
        "password": "xxxxxx",
        "autojoin": ["xxxxxxxxx", "xxxxxxx"]
      }
    },
    {
      "name": "bitbucket",
      "configuration": {
      }
    },
    { "name": "weather" },
    { "name": "date-time" },
    {
      "name": "docker",
      "configuration": {
        "type": "host",
        "address": "tcp://192.168.59.103:2375"
      }
    }
  ]
}
